@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

* {
   padding: 0px;
   margin: 0px;
   font-family: "Inter", sans-serif;
   box-sizing: border-box;
}

h1,
h2 {
   letter-spacing: -0.1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: 600;
}

html,
body,
#root {
   height: 100%;
}

/* Vercel color scheme */
:root {
   --geist-success-light: #3291ff;
   --geist-success: #0070f3;
   --geist-success-dark: #0761d1;
   --geist-error-lighter: #f7d4d6;
   --geist-error-light: #ff1a1a;
   --geist-error: #e00;
   --geist-error-dark: #c50000;
   --geist-warning-lighter: #ffefcf;
   --geist-warning-light: #f7b955;
   --geist-warning: #f5a623;
   --geist-warning-dark: #ab570a;
   --geist-violet-lighter: #d8ccf1;
   --geist-violet-light: #8a63d2;
   --geist-violet: #7928ca;
   --geist-violet-dark: #4c2889;
   --geist-violet-background: #fff;
   --geist-violet-background-secondary: #291c3a;
   --geist-violet-background-tertiary: #eae5f4;
   --geist-background-rgb: 255, 255, 255;
   --geist-foreground-rgb: 0, 0, 0;
   --geist-console-header: #efe7ed;
   --geist-console-purple: #7928ca;
   --geist-console-text-color-blue: #0070f3;
   --geist-console-text-color-pink: #eb367f;
   --geist-console-text-color-purple: #7928ca;
   --geist-cyan-lighter: #aaffec;
   --geist-cyan-light: #79ffe1;
   --geist-cyan: #50e3c2;
   --geist-cyan-dark: #29bc9b;
   --geist-highlight-purple: #f81ce5;
   --geist-highlight-magenta: #eb367f;
   --geist-highlight-pink: #ff0080;
   --geist-highlight-yellow: #fff500;
   --geist-foreground: #000;
   --geist-background: #fff;
   --accents-1: #fafafa;
   --accents-2: #eaeaea;
   --accents-3: #999;
   --accents-4: #888;
   --accents-5: #666;
   --accents-6: #444;
   --accents-7: #333;
   --accents-8: #111;
}

input,
select,
textarea {
   box-shadow: none !important;
   border: 1px solid !important;
   border-color: var(--accents-2) !important;
}

input:disabled,
select:disabled,
textarea:disabled {
   background-color: var(--accents-2) !important;
}

input:focus,
select:focus,
textarea:focus {
   border-color: var(--accents-4) !important;
}


.text-muted {
   color: var(--accents-3) !important;
   font-weight: 400;
}